*,
*::after,
*::before {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html {
  // font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  background-color: #eff1f4;
  padding: 10px;
  position: relative;
}

.container {
  max-width: 1000px;
  margin: auto;
  width: 100%;
}

//header

.header {
  &-container {
    display: flex;
    justify-content: space-between;
  }
  &-left {
    display: flex;
    .ham-menu {
      display: none;
      @media screen and (max-width: 700px) {
        display: block;
      }
    }
  }
}

//product page

.grid {
  display: grid;
  width: calc(100% - 320px);
  margin-left: auto;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  @media screen and (max-width: 700px) {
    width: 100%;
  }
  &-item {
    height: 300px;
    background-color: white;
    padding: 10px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    &-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-prices {
      display: flex;
      margin-top: 6px;
      div {
        margin-right: 10px;
      }
    }
    &-price {
      font-weight: bold;
    }
    &-mrp {
      color: #53575d;
      text-decoration: line-through;
    }
    .img-con {
      height: 80%;
      display: flex;
      justify-content: center;
    }
  }
}

//sidebar

.sidebar {
  width: 300px;
  height: calc(100vh - 20px);
  overflow-y: auto;
  background-color: white;
  margin-right: 10px;
  padding: 10px;
  position: sticky;
  left: 10px;
  top: 10px;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  @media screen and (max-width: 700px) {
    left: -100%;
    position: absolute;
    // display: none;
  }
}

//utility styles
.show_sidebar {
  left: 0;
}

.no_scroll {
  overflow: hidden;
}

.overlay {
  background-color: #00000082;
  width: 100%;
  height: 100%;
  position: absolute;
}
